@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes colorChange {
  0% { background-color: rgb(59, 130, 246); }    /* blue-500 */
  33% { background-color: rgb(99, 229, 241); }   /* indigo-500 */
  66% { background-color: rgb(247, 195, 63); }   /* purple-500 */
  100% { background-color: rgb(59, 130, 246); }  /* back to blue-500 */
}

.animate-color-change {
  animation: colorChange 6s infinite;
}
